<div class="mat-card-wrap">
    <mat-card *ngFor="let gripe of gripes">
        <div class="card-wrap">
          <div class="op-wrap">
              <div mat-card-avatar>
                  {{gripe.opReaction}}
              </div>  
              <mat-card-content>
                {{gripe.gripe}}
              </mat-card-content>
          </div>
          <div class="report-wrap">
              <button mat-button>Report</button>
          </div>
        </div>
        <mat-card-actions>
            <button mat-button *ngFor="let reaction of gripe.otherReactions">{{reaction.reactionEmoji}} {{reaction.numOfReactions}}</button>
          <button mat-button>Add reaction</button>
        </mat-card-actions>
  </mat-card>
</div>
