.mat-card-wrap {
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    margin: 1.5rem;
}
.mat-card-avatar {
    font-size: 1.5rem;
}

.op-wrap {
    display: flex;
}
.mat-card {
    margin: 1.5rem;
    max-width: 800px;
}
.mat-card-content {
    white-space: pre-line;
    margin: auto 0;
}
.card-wrap {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between
}