<div class="mat-card-wrap">
    <mat-card *ngFor="let gripe of gripes">
          <div mat-card-avatar>
            {{gripe.opReaction}}
          </div>  
        <mat-card-content>
          {{gripe.gripe}}
        </mat-card-content>
        <mat-card-actions>
            <button mat-button *ngFor="let reaction of gripe.otherReactions">{{reaction.reactionEmoji}} {{reaction.numOfReactions}}</button>
          <button mat-button>Add reaction</button>
          <button mat-button>Report</button>
        </mat-card-actions>
  </mat-card>
</div>
