<main class="page-center full-page">
  <h1 aria-label="Gripe.dev">😡 Gripe.dev 😡</h1>
  <form name="gripe-machine" method="POST">
    <input type="hidden" name="gripe-machine" value="contact" />
    <mat-form-field floatLabel="always" class="griper">
      <mat-label>Give me your best gripe!</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        name="gripe"
      ></textarea>
    </mat-form-field>
    <div>
      <button class="gripe-giver" mat-stroked-button color="warn" type="submit">Vent Away ♨️</button>
    </div>
  </form>
</main>

<router-outlet></router-outlet>
